[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "*"
beautifulsoup4 = "*"
pdfkit = "*"
pypinyin = "*"
lxml = "*"
pyinstaller = "*"
setuptools = "==56.0.0"

[dev-packages]

[requires]
python_version = "3.9"
